demo/data/*
!demo/data/kabaty.new/
!demo/data/ceeeee/
!demo/data/dekadence/
!demo/data/opus13.new/
!demo/data/strom.new/
!demo/data/na_konci/
!demo/data/had_hadu/
!demo/data/hamlet/
!demo/data/frontovi_bojovnici/
!demo/data/golem.old/
mp3
musicmuse
nahravky/blues-na-cesty
nahravky/a-to-uz-dneska-nikdo-neposloucha
nahravky/blues-na-desti
nahravky/stary-dobry-casy