.no-details {
	
	summary:first-child ~ * {
		display: none;
	}
	
	details[open] > * {
		display: inline-block;
	}
	
	details:before {
		content: '\25BA';
	}
	
	details[open]:before {
		content: '\25BC';
	}
}