.no-details {
	summary:first-child ~ * {
		display: none;
	}
	details {
		&:before {
			content: '\25BA';
			float: left;
		}
		&[open] {
			&> * {
				display: block;
			}
			&:before {
				content: '\25BC';
			}
		}
	}
}