//@import "mixins/palette";
@import "details";
$color: #9b1915, #33a8ac, #ba9d63, #e2c78e, #444;
//@include palette($color);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

@import url(https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);

//@import url(http://fonts.googleapis.com/css?family=Rammetto+One&subset=latin,latin-ext);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,latin-ext);

@import url(https://fonts.googleapis.com/css?family=Passion+One:900&subset=latin,latin-ext);

@function color($order) {
	@return nth($color, $order);
}
body {
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
   	overflow-y: auto;
}

h1 {
	font-family: 'Passion One', cursive;
	text-transform: uppercase;
	color: white;
}
h2 {
	margin-top: 0;
	text-transform: uppercase;
}
article>section {
	display: flex;
	flex-wrap: wrap;
	section {
		margin: 0.5em;
		//width: 40%;
		flex:1;
		flex-basis: 30%;
		background-color: rgba(black, 0.05);
		border-radius: 1em;
		padding: 1em;
		box-shadow: inset 0 0 80px rgba(black, 0.1);
		h2 {
			text-align: center;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				&:before {
					content: "\f135";
					font-family: 'FontAwesome';
					margin-right: 0.5em;
					opacity: 0.5;
				}
			}
			&.nobullet
			 {
				 li {
					 &:before {
						 content: '';
					 }
				 }
			 }
		}
	}
}
@import "print";
@import "photo";

nav {
	a {
		font-family: 'Passion One', cursive;
		text-transform: uppercase;
		font-size: 10vw;
		letter-spacing: 1vw;
		text-decoration: none;
		display: block;
		border: 0;
		color: rgba(white, 0.5);
		white-space: nowrap;
		text-align: right;
		transition: color 1s, filter 1s, text-shadow 1s;
		filter: blur(0.5vw);
		text-shadow: none;
		&:hover {
			text-shadow: 0 0 10px rgba(black, 0.5);
			filter: blur(1px);
			color: white;
			cursor: pointer;
		}
	}
}
h1 {
	font-family: 'Passion One', cursive;
	text-transform: uppercase;
	font-size: 10vw;
	letter-spacing: 2vw;
	margin-top: 0;filter: blur(1px);
	text-shadow: 0 0 10px rgba(black, 0.5);
}
ul, ol {
	li {
		margin-bottom: 0.5em;
	}
}

@media screen {

	article {
		display: inline-block;
		width: 100vw;
		padding: 2em;
		box-sizing: border-box;
	}

	body {
		scroll-behavior:smooth;
		background-color:  color(1);
		font-size: 150%;
		color: rgba(white, 0.6);
		display: flex;
		width: 600vw;
		margin: 0;
		padding: 0;
		b {
			color: rgba(white, 0.9);
		}
	}
		a {
		color: rgba(white, 0.6);
		text-decoration: none;
		border-bottom: 1px solid rgba(white, 0.3);
		&:hover {
			color: white;
			border-color: white;
		}
	}

	#nahravky {
		img {
			margin: 1em;
			margin-right: 0;
		}
	}
	.koncerty-list {
		margin: 0;
		padding: 0;
		@media screen and (max-width: 700px) {
			font-size: 12px;
		}
		>li {
			padding: {
				bottom: 1em;
			}
			border: {
				bottom: 1px solid rgba(white, 0.2);
			}
			position: relative;
		}
		li {
			list-style-type: none;
			margin: {
				bottom: 2em;
			}
		}
		i {
			color: rgba(white, 0.4);
			font-style: normal;
			font-weight: normal;
		}
		.date {
			font-weight: bold;
		}
		.club {
			float: right;
		}
		.note {
			font-size: 2em;
			ul {
				padding: 0;

				li {
					margin: 0;
				}
			}
		}
		.links {
			a {
				border: 0;
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
	#koncerty-nejblizsi-list {
		border: 1px solid white;
		text-align: center;
		font-size: 1em;
		background-color: desaturate(color(1), 20%);
		border: 20px solid white;
		position: relative;
		width: 70%;
		box-shadow: 0 0 20px gray;

		@media screen and (max-width: 700px) {
			font-size: 10px;
		}

		h1 {
			margin: 0;
			font-size: 2em;
			text-shadow: none;
			color: white;
			i {
				display: block;
			}
		}
		h2,
		li {
			font-size: 2em;
			color: white;
		}
		.info {
			* {
				color: gray;
			}
			background-color: white;
			padding: {
				top: 1em;
			}
			margin: {
				top: 1em;
			}
			line-height: 15px;
			a,
			span {
				margin-right: 1em;
			}

			.fa {
				font-size: 30px;
			}
		}
	}
	.details {
		overflow: hidden;
		//max-height: 1.8em;
		//transition: max-height 2s;
		summary {
			display: block;
			color: white;
			//font-size: 1.5em;
			cursor: pointer;
			font-weight: bold;
			padding: {
				left: 1em;
			}
			opacity: 0.6;
			transition: text-shadow 0.4s, color 1s;
			//text-shadow: 1px 1px 1px rgba(black, 0.5);
			position: relative;
			&:hover {
				//    color: darken(color(2), 10%);
				//    text-shadow: 1px -1px 1px rgba(black, 0.5);
			}
			&:before {
				font-family: FontAwesome;
				transition: transform 1s;
				content: "\f0a9";
				transform: rotate(0deg);
				margin: {
					right: 1em;
					left: 0;
				}
			}
		}
		&.open {
			max-height: 1200px;
			summary {
				&:before {
					transform: rotate(90deg) !important;
				}
			}
		}
	}
	.old {
		overflow: hidden;
		summary {
			margin: {
				bottom: 1em;
			}
			;
			&:before {
				transform: rotate(90deg) !important;
			}
		}
		&.loading {
			summary {
				&:before {
					-webkit-animation: spin3d 2s linear infinite;
					animation: spin3d 2s linear infinite;
				}
			}
		}
		&.closed {
			transform: rotate(0deg) !important;
			max-height: 1.8em;
		}
	}

	/*.cd {
		border-radius: 2px;
		transition: all 1s;
		box-sizing: border-box;
		border: 1px solid #333;
		backface-visibility: hidden;
		img {
			z-index: 2;
			&:hover {
				opacity: 0.1;
			}
			position: relative;
			top: 0;
			left: 0;
			height: 300px;
			width: 300px;
			transition: all 0.5s ease-in-out;
			display: block;
			backface-visibility: hidden;
		}
		box-shadow: 0 0 5px black;
		cursor: pointer;
		position: relative;
		display: inline-block;
		em {
			padding: 1em;
			position: absolute;
			top: 0;
			left: 0;
			height: 300px;
			width: 300px;
			opacity: 1;
			background-color: darken(color(1), 10%);
			transform: rotateY(180deg);
			box-sizing: border-box;
			text-align: left;
			transition: all 0.5s ease-in-out;
		}
		&:hover {
			transform: rotateY(180deg);
		}
	}*/
	.texty {
		em,
		i {
			font-style: normal;
			padding: {
				right: 0.5em;
			}
			;
		}
	}
	.trojka {
		.note {
			background: url("../images/hand.svg") no-repeat 100% 100%;
			min-height: 50px;
			@media screen and (max-width: 700px) {
				background-size: 70% 70%;
			}
		}
	}
	.row {
		clear: both;
		margin-left: auto;
		margin-right: auto;
		.col {
			float: left;
			width: 48%;
			position: relative;
			&.left {

			}
			&.right {
				text-align: right;
			}
			@media screen and (max-width: 700px) {
				float: none;
				&.right {
					text-align: left;
				}
				width: 100%;
				margin-bottom: 0.5em;
			}
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
	@-webkit-keyframes spin3d {
		100% {
			-webkit-transform: rotateY(360deg);
		}
	}
	@keyframes spin3d {
		100% {
			transform: rotateY(360deg);
		}
	}
}
