$colorBase:#9b1915;
$imageWidth:200px;

@import 'details';
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Passion+One:900&subset=latin,latin-ext);

body {
	overflow-x:hidden;
	overflow-y:auto;
	margin:0;
	padding:0;
	font-size:150%;
	font-family:'Ubuntu', sans-serif;
}

@media screen {
	@import 'photo';
	body {
		background:url(../images/bg.svg)  repeat-x bottom, linear-gradient(to right ,black,  black $imageWidth + 2*15px,  $colorBase $imageWidth + 2*15px,   $colorBase) no-repeat,  $colorBase;
		color:rgba(white, 0.4);
	}
	#photos {
		position:absolute;
		display:flex;
		flex-direction:column;
		overflow:hidden;
	}

	h1 {
		margin-top:0;
		color:white;
		text-transform:uppercase;
		text-shadow:0 0 10px rgba(black, 0.5);
		letter-spacing:2vw;
		font-size:10vw;
		font-family:'Passion One', cursive;
		filter:blur(1px);
	}
	h2 {
		margin-top:0;
		color:rgba(black, 0.5);
		text-transform:uppercase;
		font-size:1em;
	}
	h3 {
		color:rgba(black, 0.3);
	}
	b {
		color:rgba(white, 0.3);
	}
	#logo {
		position:absolute;
		right:0;
		bottom:1em;
	}
	footer {
		padding-top:10em;
		ul {
			display:flex;
			justify-content:space-around;
			li {
				display:block;
			}
		}
	}
	#koncerty {
		section {
			display:block;
		}
	}
	article {
		min-height:100vh;
	}
	p {
		line-height:1.5em;
	}
	article > section {
		display:flex;
		padding-left:$imageWidth;
		flex-wrap:wrap;
		section {
			margin:0.5em;
			padding:1em;
			background-color:rgba(black, 0.1);
			flex:1;
			flex-basis:30vw;

			ul {
				padding:0;
				list-style:none;
				li {
					&:before {
						margin-right:0.5em;
						color:rgba(black, 0.3);
						content:'\f135';
						font-family:'FontAwesome';
					}
				}
				&.user {
					li {
						&:before {
							content:'\f007';
						}
					}
				}
				&.nobullet {
					li {
						&:before {
							content:'';
						}
					}
				}
			}
		}
	}

	nav {
		a {
			position:relative;
			display:block;
			border:0;
			color:rgba(white, 0.7);
			text-align:left;
			text-decoration:none;
			text-transform:uppercase;
			text-shadow:none;
			white-space:nowrap;
			letter-spacing:1vw;
			font-size:10vw;
			font-family:'Passion One', cursive;
			filter:blur(0.3vw);
			transition:color 1s, filter 1s, text-shadow 1s;
			&:hover {
				color:white;
				text-shadow:0 0 10px rgba(black, 0.5);
				filter:blur(1px);
				cursor:pointer;
			}
		}
	}
	ul,
	ol {
		li {
			margin-bottom:0.5em;
		}
	}

	article {
		display:inline-block;
		box-sizing:border-box;
		padding:2em;
		width:100vw;
	}

	a {
		border-bottom:1px solid rgba(white, 0.3);
		color:rgba(white, 0.6);
		text-decoration:none;
		&:hover {
			border-color:white;
			color:white;
		}
	}

	#nahravky {
		img {
			display:block;
			margin:1em;
			border:2px solid black;
		}
	}
	.koncerty-list {
		margin:0;
		padding:0;
		@media screen and (max-width: 700px) {
			font-size:12px;
		}
		> li {
			position:relative;
			padding: {
				bottom:1em;
			}
			border: {
				bottom:1px solid rgba(white, 0.2);
			}
		}
		li {
			margin: {
				bottom:2em;
			}
			list-style-type:none;
		}
		i {
			color:rgba(white, 0.4);
			font-weight:normal;
			font-style:normal;
		}
		.date {
			color:rgba(black, 0.5);
			font-weight:bold;
		}
		.club {
			float:right;
		}
		.note {
			font-size:2em;
			ul {
				padding:0;

				li {
					margin:0;
					&:before {
						content:'+';
					}
				}
			}
		}
		.links {
			a {
				border:0;
				opacity:0.5;

				&:hover {
					opacity:1;
				}
			}
		}
	}
	/*#koncerty-nejblizsi-list {
		position:relative;
		width:70%;
		border:1px solid white;
		border:20px solid white;
		background-color:desaturate($colorBase, 20%);
		box-shadow:0 0 20px gray;
		text-align:center;
		font-size:1em;



		h1 {
			margin:0;
			color:white;
			text-shadow:none;
			font-size:2em;
			i {
				display:block;
			}
		}
		h2,
		li {
			color:white;
			font-size:2em;
		}
		.info {
			margin: {
				top:1em;
			}
			padding: {
				top:1em;
			}
			background-color:white;
			line-height:15px;
			* {
				color:gray;
			}
			a,
			span {
				margin-right:1em;
			}

			.fa {
				font-size:30px;
			}
		}
	}*/
	.details {
		overflow:hidden;
		//max-height: 1.8em;
		//transition: max-height 2s;
		summary {
			//text-shadow: 1px 1px 1px rgba(black, 0.5);
			position:relative;
			display:block;
			padding: {
				left:1em;
			}
			color:white;
			font-weight:bold;
			opacity:0.6;
			//font-size: 1.5em;
			cursor:pointer;
			transition:text-shadow 0.4s, color 1s;
			&:hover {
				//    color: darken(color(2), 10%);
				//    text-shadow: 1px -1px 1px rgba(black, 0.5);
			}
			&:before {
				margin: {
					right:1em;
					left:0;
				}
				content:'\f0a9';
				font-family:FontAwesome;
				transition:transform 1s;
				transform:rotate(0deg);
			}
		}
		&.open {
			max-height:1200px;
			summary {
				&:before {
					transform:rotate(90deg) !important;
				}
			}
		}
	}
	.old {
		overflow:hidden;
		summary {
			margin: {
				bottom:1em;
			}
			;
			&:before {
				transform:rotate(90deg) !important;
			}
		}
		&.loading {
			summary {
				&:before {
					-webkit-animation:spin3d 2s linear infinite;
					        animation:spin3d 2s linear infinite;
				}
			}
		}
		&.closed {
			max-height:1.8em;
			transform:rotate(0deg) !important;
		}
	}

	#texty {
		em,
		i {
			padding: {
				right:0.5em;
			}
			color:rgba(black, 0.5);
			font-style:normal;
		}
	}
	.trojka {
		.note {
			min-height:50px;
			background:url('../images/hand.svg') no-repeat 100% 100%;
			@media screen and (max-width: 700px) {
				background-size:70% 70%;
			}
		}
	}
	.row {
		clear:both;
		margin-right:auto;
		margin-left:auto;
		.col {
			position:relative;
			float:left;
			width:48%;
			&.left {
			}
			&.right {
				text-align:right;
			}
			@media screen and (max-width: 700px) {
				float:none;
				margin-bottom:0.5em;
				width:100%;
				&.right {
					text-align:left;
				}
			}
		}
		&:after {
			display:table;
			clear:both;
			content:' ';
		}
	}
}

@import 'print';
