<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>Rezatý Rakety</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="rr" ng-controller="Concerts">
    <header>
        <div>
            <h1>Bigbít s jadernou hlavicí</h1>
            <img id="logo" src="images/logo.png" alt="logo" />
        </div>
    </header>
    <article id="koncerty">
        <div>
            <h1>Nejbližší koncert</h1>
            <div class="koncerty-list" ng-class="{trojka: nearest.trojkazblues_flag == 1}">
                <a ng-if="nearest.fblink" href="{{nearest.fblink}}" class="fa fa-facebook-square" title="Událost na Facebooku"></a>
                {{nearest.date*1000 | date :'dd.MM. yyyy'}}
                <span class="time">{{nearest.date*1000 | date :'HH:mm'}}</span>
                <a target="_blank" href="http://mapy.cz/?q=Loc:{{nearest.linkMapa}}" title="{{nearest.adresaUlice}}">{{nearest.adresaMesto}}</a>,
                <a target="_blank" href="{{nearest.WWW}}" title="Web klubu">{{nearest.jmeno}}</a>
                <div class="note" ng-bind-html="nearest.poznamka"></div>
            </div>

            <h1>Koncerty</h1>
            <ul ng-cloak class="koncerty-list">
                <li ng-repeat="koncert in koncerty" ng-class="{trojka: koncert.trojkazblues_flag == 1}">
                    <a ng-if="koncert.fblink" href="{{koncert.fblink}}" class="fa fa-facebook-square" title="Událost na Facebooku"></a>
                    {{koncert.date*1000 | date :'dd.MM. yyyy'}}
                    <span class="time">{{koncert.date*1000 | date :'HH:mm'}}</span>
                    <a target="_blank" href="http://mapy.cz/?q=Loc:{{koncert.linkMapa}}" title="{{koncert.adresaUlice}}">{{koncert.adresaMesto}}</a>,
                    <a target="_blank" href="{{koncert.WWW}}" title="Web klubu">{{koncert.jmeno}}</a>
                    <div class="note" ng-bind-html="koncert.poznamka"></div>
                </li>
            </ul>
            <div class="old" ng-click="loadConcerts();" ng-class="{loading:loading,closed: !opened}">
                <summary id="odehrane" ng-cloak>Odehrané ({{oldkoncertsCount}})</summary>
                <ul id="koncerty-list-odehrane" class="koncerty-list">
                    <li ng-repeat="koncert in odehraneKoncerty" ng-class="{trojka: koncert.trojkazblues_flag == 1}">
                        {{koncert.date*1000 | date :'dd.MM. yyyy'}}
                        <a target="_blank" href="http://mapy.cz/?q=Loc:{{koncert.linkMapa}}" title="{{koncert.adresaUlice}}"> {{koncert.adresaMesto}}</a>,
                        <a target="_blank" href="{{koncert.WWW}}" title="Web klubu">{{koncert.jmeno}}</a>
                        <div class="note" ng-bind-html="koncert.poznamka"></div>
                    </li>
                </ul>
            </div>
        </div>
    </article>

    <article id="nahravky">
        <div>
            <h1>Nahrávky</h1>

            <section>
                <h2>(2011) Starý dobrý časy</h2>
                <details>
                    <summary>Recenze (Petr Korál, Muzikus)</summary>
                    <p>Tahle plzeňská, pouze v&nbsp;nejzákladnějším a nejúspornějším triu kytara-baskytara-bicí hrající skupina rezignovala na jakékoliv hledání a mnohdy pofiderní progresivitu. Naopak se ohlíží do dávné a dostatečně prověřené historie (včetně nejspíš záměrně archaického zvuku kytary Miroslava Juhose) a holduje jadrnému blues rocku v&nbsp;poklidnější i náležitě tvrdé podobě.</p>
                    <p>A dělá to docela dobře, to zase ne že ne! I když něco podobného už tu samozřejmě tisíckrát bylo, počínání téhle party působí přesvědčivě a sympaticky. Co chtít víc? Texty s myšlenkově hlubším obsahem? Na to se v tomhle ranku nikdy moc nehrálo a ani to tu v podstatě nikdo neočekává. Jen by si debutové album Rezatých Raket možná zasloužilo kratší stopáž. Těch skoro sedmdesát minut už je opravdu až zbytečně masivní kláda...</p>
                    <p><b>Zlatý hřeb:</b> Rádio Starý dobrý časy, Láhev rumu od Ježíška</p>
                    <p><b>Zní to jako:</b> tak trochu jako Cream a jiná klasická bluesrocková tria</p>
                </details>
                <em>studiovej snímek, zaznamenanej 4-6. února.</em>

                <div class="row">
                    <div class="col left">
                        <ol>
                            <li>Rádio Starý dobrý časy</li>
                            <li>Na vlnách MHD</li>
                            <li>Jedna hodně hodná paní</li>
                            <li>Opilec Bedřich</li>
                            <li>Hvězdy</li>
                            <li>Mrakodrap v dešti</li>
                            <li>Bufet Adrie</li>
                            <li>Co šeptá vítr</li>
                            <li>Dveře do léta</li>
                            <li>Láhev rumu od Ježíška</li>
                            <li>Plakát</li>
                            <li>Krize středního věku</li>
                            <li>Jeřáby, jeřáby</li>
                            <li>Lež</li>
                            <li>Dokud</li>
                        </ol>
                    </div>
                    <div class="col right">
                        <div class="cd">
                            <img class="cd" src="nahravky/stary-dobry-casy/obal.jpg" alt="Obal" />
                        </div>
                        <div class="download">Kompletní album ke <a href="nahravky/2011-stary-dobry-casy.zip">stažení</a> (66MB).</div>
                    </div>
                </div>
            </section>

            <section>
                <h2>(2009) ...a to už dneska nikdo neposlouchá</h2>
                <em>živej demosnímek, zaznamenán 30.5.2009 na festivalu Kerio MusicFest.</em>
                <div class="row">
                    <div class="col left">
                        <ol>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/01-blues-na-cesty.mp3">Blues na cesty</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/02-opilec-bedrich.mp3">Opilec Bedřich</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/03-panelak.mp3">Panelák</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/04-bufet-adrie.mp3">Bufet Adrie</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/05-krise-stredniho-veku.mp3">Krise středního věku</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/06-nema-to-cenu.mp3">Nemá to cenu</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/07-plakat.mp3">Plakát</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/08-jeraby-jeraby.mp3">Jeřáby, jeřáby</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/09-lez.mp3">Lež</a>
                            </li>
                            <li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/10-kapesni-blues.mp3">Kapesní blues</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col right">
                        <div class="cd">
                            <img src="nahravky/a-to-uz-dneska-nikdo-neposloucha/obal.jpg" alt="Obal">
                        </div>
                        <div class="download">Kompletní album ke <a href="nahravky/a-to-uz-dneska-nikdo-neposloucha.zip">stažení</a> (44MB).</div>
                    </div>
                </div>
            </section>

        </div>
    </article>
    <article>
        <div class="texty" ng-include="'views/texty.html'"></div>
    </article>
    <article id="tri">
        <div>
            <h1>Trojka</h1>
            <ul>
                <li><b>Trojka</b> je setkání tří autorských kapel v mezích stylů jazz, blues a rocku.</li>
                <li>Pořádá se pravidelně každou <b>první středu v měsíci</b> (když houká siréna) v klubu <a href="http://www.buenavistaclub.cz">Buena Vista</a> v Plzni.</li>
                <li>Začátek ve <b>20,00</b>.</li>
                <li><b>Vstup volný</b>.</li>
            </ul>
            <details>
                <summary>Pro kapely</summary>
                <ul>
                    <li><b>Ozvučení</b> je zajištěno klubem.</li>
                    <li>Každá z kapel má dohromady na nazvučení a samotný koncert <b>hodinu</b>.</li>
                    <li>Začíná se ve <b>20:00</b>, končí v 23:00. Bez vyjímky.</li>
                    <li><b>Základ bicích</b> dodávají Rezatý Rakety - bubeníci, dovezte si
                        <ul>
                            <li>činely</li>
                            <li>šlapku</li>
                            <li>virbl</li>
                        </ul>
                    </li>
                    <li>Rezatý Rakety taktéž mohou zapůjčit <b>kytarové kombo</b> Vox AC&nbsp;15, popř. <b>basový aparát</b>
                    </li>
                    <li>Z koncertu obvykle pořizujeme jednostopý, zvukový <b>záznam</b>.</li>
                    <li>Máme vlastního fotografa, takže svoje kapesní aparáty klidně nechte doma.</li>
                    <li>Autorská tvorba vítána.</li>
                </ul>
                <h3>Proč to děláme?</h3>
                <ul>
                    <li>Je to realizace naší představy o spolupráci mezi kapelami.</li>
                    <li>Jsme rádi, že poznáváme muzikanty ze všech končin.</li>
                    <li>Jsme rádi, že hrajeme pravidelně každý měsíc.</li>
                    <li>Pokud <b>Rezatý Rakety</b> pozvete na koncert do své domoviny, nebudeme se zlobit.</li>
                </ul>
            </details>


            <p>
                <em>Trojku pořádají od 2009 Rezatý Rakety za laskavé podpory klubu Buena Vista.</em>
            </p>
        </div>
    </article>
    <article>
        <div>
            <h1>Vo Raketách</h1>
            <ul>
                <li>první koncert odehráli <b>29. srpna 2008</b>
                </li>
                <li>23. listopadu 2009 vydali vlastníma silama záznam z&nbsp;koncertu</li>
                <li>zakládaj si na <b>vlastním</b>, českým repertoáru</li>
                <li>1. června 2011 vydali svoje <a ng-href="##nahravky">první studiový album</a>
                </li>
                <li>mají <a href="http://www.youtube.com/watch?v=oE7gZZuwVnw">videoklip</a>
                </li>
                <li>hrajou možná bluesrock, možná hardrock, prostě <b>bigbít</b>, jenže bigbít v Plzni a okolí je výraz pro tancovačku, takže <b>alternativní bigbít</b>
                </li>
                <li>pořádaj <a ng-href="##tri">Trojku</a>
                </li>
            </ul>
            <h2>Posádka</h2>
            <ul>
                <li><b>Miroslav Juhy Juhos</b> kytara</li>
                <li><b>Jíra Svatoš</b> bicí</li>
                <li><b>Jan Hezcko</b> basová kytara</li>
            </ul>
            <details>
                <summary>Technický požadavky</summary>
                <h2>Jíra (bicí, zpěv)</h2>
                <ul>
                    <li>standardní nazvučení bicích</li>
                    <li>zpěvový mikrofon</li>
                </ul>
                <h2>Honzík (basa, zpěv)</h2>
                <ul>
                    <li>mikrofon pro basový zesilovač</li>
                    <li>zpěvový mikrofon</li>
                </ul>
                <h2>Juhy (kytara, zpěv)</h2>
                <ul>
                    <li>mikrofon pro kytarový zesilovač <b>Vox AC15</b>
                    </li>
                    <li>zpěvový mikrofon</li>
                </ul>
            </details>

        </div>
    </article>







    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-601743-5');
    ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/Concerts.js"></script>
    <script src="scripts/directives/details.js"></script>
    <!-- endbuild -->

    <script>
    var photos = [];

    function setData(data) {
        $('[ng-controller="Concerts"]').scope().renderPhotos(data);
    }
    </script>

    <footer>
        <span><a target="_blank" href="http://www.facebook.com/rezatyrakety"><i class="fa fa-facebook-square"></i> Rezatý Rakety</a>
        </span>
        <span>Miroslav Juhy Juhos</span>
        <span><a href="tel:+420605376741"><i class="fa fa-phone"></i>  605 376 741</a>
        </span>
        <span>
            <script type="text/javascript">
            var email = 'juhy',
                domain = 'rezatyrakety.cz',
                address = email + '@' + domain;
            document.write('<a class="email" href="mailto:' + address + '"><i class="fa fa-envelope"></i> ' + address + '</a>')
            </script>
        </span>
        <span><i class="fa fa-map-marker"></i> Plzeň</span>
    </footer>

</body>

</html>
