$colorBase:#9b1915;
$colorDark:rgba(darken(black, 25%), 0.05);
$imageWidth:200px;

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Passion+One:900&subset=latin,latin-ext);

body {
	overflow-x:hidden;
	overflow-y:auto;
	margin:0;
	padding:0;
	font-size:120%;
	font-family:'Ubuntu', sans-serif;
}

@media screen {
	iframe {
		opacity:0.5;
		margin-top:1em;
		transition:opacity 1s;
		&:hover {
			opacity:1;
		}
	}
	@import 'photo';
	body {
		background-color:$colorBase;
		background:url(../images/bg.svg)  repeat-x bottom, linear-gradient(to right ,black,  black $imageWidth + 2*15px,  $colorBase $imageWidth + 2*15px,   $colorBase) no-repeat,  $colorBase;
		color:rgba(white, 0.4);
		& > footer {
			padding-top:10em;
			ul {
				display:flex;
				justify-content:space-around;
				flex-wrap:wrap;
				li {
					display:block;
					white-space:normal;
				}
			}
		}
	}

	h1 {
		margin-top:0;
		color:white;
		text-transform:uppercase;
		text-shadow:0 0 10px rgba(black, 0.5);
		letter-spacing:2vw;
		font-size:10vw;
		font-family:'Passion One', sans-serif;
		filter:blur(1px);
	}
	h2 {
		margin-top:0;
		color:rgba($colorDark, 0.4);
		text-transform:uppercase;
		font-size:1em;
	}
	h3 {
		color:$colorDark;
	}
	b {
		color:rgba(white, 0.3);
	}
	p {
		line-height:1.5em;
	}
	ul,
	ol {
		li {
			margin-bottom:0.5em;
			.fa {
				margin-right:0.5em;
				color:rgba(black, 0.3);
			}
		}
	}

	a {
		color:rgba(white, 0.6);
		text-decoration:none;
		cursor:pointer;
		&:hover {
			border-color:white;
			color:white;
		}
	}
	.old-link {
		margin-left:1em;
		:last-child {
			display:none;
		}
		&.open {
			:first-child {
				display:none;
			}
			:last-child {
				display:block;
			}
		}
	}
	#logo-download {
		ul {
			display:flex;
			flex-wrap:wrap;
			li {
				flex:1;
				&:before {
					content:'';
				}
			}
		}
	}
	#photos {
		position:absolute;
		display:flex;
		flex-direction:column;
		overflow:hidden;
	}
	#logo {
		position:absolute;
		right:0;
		bottom:1em;
	}

	article {
		min-height:100vh;
		display:inline-block;
		box-sizing:border-box;
		padding:2em;
		padding-right:3em;
		width:100vw;
		& > section {
			display:flex;
			padding-left:$imageWidth;
			flex-wrap:wrap;
			section {
				border-top:0;
				h2 {
					text-align:center;
					margin-bottom:0;
					background-color:$colorDark;
					margin:-1em;
					padding:1em;
					margin-bottom:1em;
				}
				margin:0.5em;
				padding:1em;
				background-color:rgba(black, 0.1);
				flex:1;
				flex-basis:400px;
				border: {
					top:0.5em solid $colorDark;
					bottom:0.5em solid $colorDark;
				}

				ul {
					padding:0;
					list-style:none;
					li {
						&:before {
							margin-right:0.5em;
							color:rgba(black, 0.3);
							content:'\f135';
							font-family:'FontAwesome';
						}
					}
					&.user {
						li {
							&:before {
								content:'\f007';
							}
						}
					}
					&.nobullet {
						li {
							&:before {
								content:'';
							}
						}
					}
				}
			}
		}
		&#texty {
			p {
				padding-left:1em;
				position:relative;
			}
			em {
				position:absolute;
				left:0;
				top:1px;
				text-align:right;
				color:rgba($colorDark, 0.4);
				font-style:normal;
			}
		}
		.koncerty-list {
			section {
				border:0;
				padding:0;
				display:flex;
				flex-direction:column;
			}
			header,
			footer {
				background-color:$colorDark;
				padding:1em;
			}
			i {
				color:rgba(white, 0.4);
				font-weight:normal;
				font-style:normal;
			}
			.date {
				color:rgba(black, 0.5);
				font-weight:bold;
			}
			.note {
				font-size:1em;
				padding:1em;
				flex:1;
				ul {
					padding:0;
					margin:0;
					li {
						margin:0;
						&:before {
							content:'+';
						}
					}
				}
			}
		}
	}


	nav {
		overflow:hidden;
		margin:-2em;
		padding:2em;
		a {
			position:relative;
			display:block;
			border:0;
			color:rgba(white, 0.7);
			text-align:left;
			text-decoration:none;
			text-transform:uppercase;
			text-shadow:none;
			white-space:nowrap;
			letter-spacing:1vw;
			font-size:10vw;
			font-family:'Passion One', cursive;
			filter:blur(3px);
			transition:color 1s, filter 1s, text-shadow 1s;
			&:hover {
				color:white;
				text-shadow:0 0 10px rgba(black, 0.5);
				filter:blur(1px);
				cursor:pointer;
			}
		}
	}
	#floating-nav {
		position:absolute;
		right:0.5em;
		top:105vh;
		a {
			width:2em;
			text-align:center;
			display:block;
			margin-bottom:3em;
			text-transform:uppercase;
			font-size:1.5vh;
		}
		height:100vh;
	}
}

table {
	border-collapse: collapse;
	td, th {
		padding:  0.25em;
		font-size: 0.5em;
		border-bottom: 1px solid rgba(white, 0.1);
	}
}

@import 'print';

@media screen and (max-width: 700px) {
	body {
		background:repeat-x bottom, linear-gradient(to right ,black,  black 30px,  $colorBase 30px,   $colorBase) no-repeat,  $colorBase;
		footer {
			background-color:black;
			padding:1em ;
		}
	}
	#photos {
		display:none;
	}
	article > section {
		display: block;
		padding-left:0;
	}
}
