body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: row;

    div {
        margin-bottom: 0.5rem;
    }
}

#mapa {
    flex: 4;
    width: 100vw;
    min-height: 90vh;
}

#kluby {
    flex: 1;
    counter-reset: css-counter 0;
    cursor: pointer;


    max-height: 90vh;
    overflow: scroll;

    &>div {

        counter-increment: css-counter 1;
        background: rgb(232, 232, 232);
        background: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(0, 0, 0, 0.07326680672268904) 100%);
        padding: 0.25rem 0.5rem;



        div {
            margin: 0;

            &:before {
                content: counter(css-counter) ". ";
            }
        }

        &:hover {
            background-color: lightblue;
        }

        pre {
            margin: 0;
            padding: 0;
        }

    }


}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 60vw;
    writing-mode: vertical-lr;
}

option {
    padding: 0;
}

input[type="range"] {
    margin: 0;
    width: 60vw;
}

.legend {
    border-radius: 1rem;
    background-color: white;
    padding: 1rem 1rem;
    color: #555;
    line-height: 18px;
}

.legend i {
    float: left;
    opacity: 0.7;
    margin-right: 8px;
    width: 18px;
    height: 18px;
}