<h1>Koncerty</h1>
<ul ng-cloak class="koncerty-list">
  <li ng-repeat="koncert in koncerty">
    <div ng-if="koncert.trojkazblues_flag == 1" class="trojka" title="Trojka"></div>
    <div ng-if="koncert.trojkazblues_flag == 2" class="rock" title="Rock do klobouku"></div>
    <a  ng-if="koncert.fblink" href="{{koncert.fblink}}" class="webicon facebook" title="Událost na Facebooku"></a>
    {{koncert.date*1000 | date :'dd.MM. yyyy'}}
    <span class="time">{{koncert.date*1000 | date :'HH:mm'}}</span>
    <a target="_blank" href="http://mapy.cz/?q=Loc:{{koncert.linkMapa}}" title="{{koncert.adresaUlice}}">{{koncert.adresaMesto}}</a>, 
    <a target="_blank"  href="{{koncert.WWW}}" title="Web klubu">{{koncert.jmeno}}</a>
    <div class="note" ng-bind-html="koncert.poznamka"></div>
  </li> 
</ul>
<details>
  <summary id="odehrane" ng-cloak >Odehrané ({{odehraneKoncerty.length - 2}})</summary>
    <ul id="koncerty-list-odehrane" class="koncerty-list">
      <li ng-repeat="koncert in odehraneKoncerty">
        <div ng-if="koncert.trojkazblues_flag == 1" class="trojka" title="Trojka"></div>
        <div ng-if="koncert.trojkazblues_flag == 2" class="rock" title="Rock do klobouku"></div>
        {{koncert.date*1000 | date :'dd.MM. yyyy'}}
        <a target="_blank" href="http://mapy.cz/?q=Loc:{{koncert.linkMapa}}" title="{{koncert.adresaUlice}}"> {{koncert.adresaMesto}}</a>, 
        <a target="_blank" href="{{koncert.WWW}}" title="Web klubu">{{koncert.jmeno}}</a>
        <div class="note" ng-bind-html="koncert.poznamka"></div>
      </li> 
    </ul>
  </details>