<h1>Nahrávky</h1>

<section class="row">
	<div class="col-lg-12 columns">
		<h2>(2011) Starý dobrý časy</h2>
		<p><em>studiovej snímek, zaznamenanej 4-6. února.</em></p>
		<details>
			<summary>Recenze (Petr Korál, Muzikus)</summary>
			<p>Tahle plzeňská, pouze v&nbsp;nejzákladnějším a nejúspornějším triu kytara-baskytara-bicí hrající skupina rezignovala na jakékoliv hledání a mnohdy pofiderní progresivitu. Naopak se ohlíží do dávné a dostatečně prověřené historie (včetně nejspíš záměrně archaického zvuku kytary Miroslava Juhose) a holduje jadrnému blues rocku v&nbsp;poklidnější i náležitě tvrdé podobě.</p>
			<p>A dělá to docela dobře, to zase ne že ne! I když něco podobného už tu samozřejmě tisíckrát bylo, počínání téhle party působí přesvědčivě a sympaticky. Co chtít víc? Texty s myšlenkově hlubším obsahem? Na to se v tomhle ranku nikdy moc nehrálo a ani to tu v podstatě nikdo neočekává. Jen by si debutové album Rezatých Raket možná zasloužilo kratší stopáž. Těch skoro sedmdesát minut už je opravdu až zbytečně masivní kláda... </p>
			<p><b>Zlatý hřeb:</b> Rádio Starý dobrý časy, Láhev rumu od Ježíška</p>
			<p><b>Zní to jako:</b> tak trochu jako Cream a jiná klasická bluesrocková tria</p>
		</details>
	</div>
	<div class="col-lg-6">
		<ol>
			<li>Rádio Starý dobrý časy</li>
			<li>Na vlnách MHD</li>
			<li>Jedna hodně hodná paní</li>
			<li>Opilec Bedřich</li>
			<li>Hvězdy</li>
			<li>Mrakodrap v dešti</li>
			<li>Bufet Adrie</li>
			<li>Co šeptá vítr</li>
			<li>Dveře do léta</li>
			<li>Láhev rumu od Ježíška</li>
			<li>Plakát</li>
			<li>Krize středního věku</li>
			<li>Jeřáby, jeřáby</li>
			<li>Lež</li>
			<li>Dokud</li>
		</ol>
	</div>
	<div class="col-lg-6">
		<img src="nahravky/stary-dobry-casy/obal.jpg" alt="Obal"  />
	</div>
	<div class="col-lg-12">
		<p>Kompletní album ke <a href="nahravky/2011-stary-dobry-casy.zip">stažení</a> (66MB).</p>
	</div>
</section>

<section class="row">
	<div class="col-lg-12">
		<h2>(2009) ...a to už dneska nikdo neposlouchá</h2>
		<p><em>živý demosnímek, zaznamenán 30.5.2009 na festivalu Kerio MusicFest.</em></p>
	</div>	
	<div class="col-lg-6">
		<ol>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/01-blues-na-cesty.mp3">Blues na cesty</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/02-opilec-bedrich.mp3">Opilec Bedřich</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/03-panelak.mp3">Panelák</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/04-bufet-adrie.mp3">Bufet Adrie</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/05-krise-stredniho-veku.mp3">Krise středního věku</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/06-nema-to-cenu.mp3">Nemá to cenu</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/07-plakat.mp3">Plakát</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/08-jeraby-jeraby.mp3">Jeřáby, jeřáby</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/09-lez.mp3">Lež</a></li>
			<li><a href="nahravky/a-to-uz-dneska-nikdo-neposloucha/10-kapesni-blues.mp3">Kapesní blues</a></li>
		</ol>
	</div>
	<div class="col-lg-6">
		<img src="nahravky/a-to-uz-dneska-nikdo-neposloucha/obal.jpg" alt="Obal">
	</div>
	<div class="col-lg-12">
		<p>Kompletní album ke <a href="nahravky/a-to-uz-dneska-nikdo-neposloucha.zip">stažení</a> (44MB).</p>
	</div>
</section>