<h1>Texty</h1>
<div class="texty">


<section>
	<h2>Nejposlednější</h2>
	<details class="song" id="melancholie">
		<summary>Paní Melancholie</summary>				
		<p><em>1.</em> Na gauči s námi sedí<br>kávu si pije<br>z okna s námi do deště hledí<br>paní Melancholie</p>
		<p><em>2.</em> Chodí k nám když prší<br>nevím co za tím je<br>že k nám bez pozvání přijde<br>paní Melancholie</p>
		<p><em>3.</em> Na zem dvora kapky letí<br>prach toho dne déšť nesmyje<br>nevšimli jsme si, snad jsme slepí<br>že přišla Melancholie</p>
		<p><em>4.</em> Než slunce ukáže svoji tvář<br>než slunce mraky rozbije<br>bude s námi paní bez pozvání<br>paní Melancholie</p>
	</details>
	
	<details class="song" id="jan">
		<summary>Svatý Jan na mostě</summary>
	  
		<p>
			<em>1.</em> Svatý Jan na mostě trochu hlavou vrtí<br>
			káru plnou šrotu plesnivej dědek tlačí<br>
			s brašnama na zádech se domů couraj školní šprti<br>
			pod sochou nemluvnýho svatýho líbá se on a ona<br>
			naštvaný matky řev se nese nad pavlačí<br>tak asi takhle to vypadá u nás doma.
		</p>
		
		<p>
			<em>2.</em> Na zábradlí nezletilí sedí se zelenou lahví<br>
			kluk s vlasama přes límec túruje tátovo fichtla<br>
			a špunti si u hydrantu upatlaný ruce myjí<br>
			ulicí se sotva šourá babka chromá<br>
			ubrečená holka konečně ztichla<br>a to je zase hezky, tady u nás doma.
		</p>
		
		<p>
			<em>3.</em> Rentiéři ve frontách nadávají kdo je všechno obral<br>
			husákovy děti do klaxonu mlátí v přepychových vozech<br>
			bezdomovec u nádraží se právě s kocoviny probral<br>
			mladistvý extremista v parku mlátí roma<br>
			adolescent sprejem nesmysly cáká po zdech<br>to je ale hezky tady u nás doma.
		</p>
		
		<p>
			<em>4.</em> Svatý Jan na mostě rukou kamenou mi kyne<br>
			městem se proplétají nekonečné šnůry vozů<br>
			kdo nechce jet s námi, raději ať zhyne<br>
			Svatý Jan ve svém kamenném koma<br>
			po letech ve skále taky ztratil rozum<br>mlčky se dívá jak je hezky tady u nás doma.
		</p>

		<p>
			<em>Ref:</em><br>
			Svatý Jan na mostě<br>
			svatý Jan na mostě<br>
			svatý Jan na mostě<br>jednou z nás vyroste</p>
</details>

<details class="song" id="hodiny">
	<summary>Přesýpací hodiny</summary>

	<p>
		<em>1.</em> Mám svoji soukromou poušť tam uvnitř, <br>
		kde stopy v písku rychle mizí<br>
		tam chodím hledat vodu do oázy<br>
		Na obloze jsou z mraků jenom cáry, <br>
		horký písek zvláštně voní<br>tam pozoruji na obzoru kráčející dromedáry</p>
	
	<p>
		<em>2.</em> Mám svoji soukromou poušť tam hluboko v hlavě, <br>
		chodím tam umírat žízní, když se nikdo nedívá<br>
		tam poslouchám dlouhé tóny afrických zpěvů<br>
		Písek se tam sápe po nohou, <br>
		tam se ukrývám,  když mne nikdo nehledá<br>tam kde země splývá s oblohou</p>
	
	<p>
		Mám svoji Saharu někdy mezi spánky<br>
		tam lehko se jeden ztratí a zabloudí<br>
		tam stíny jsou ostřejší nože<br>tam žiju jenom já a velbloudi</p>
	
	<p>
		A zrnko písku přemožené gravitací,<br>
		po každém otočení přesýpacích hodin<br>
		A zrnko písku přemožené gravitací,<br>
		se na svoje místo vrací<br></p>
	
	<p>
		Poslouchám moře z mušlí <br>
		a představuju si poušť v přesýpacích hodinách<br>
		a obraz dromedárů cestou ušlých<br>jedním otočením promění se v prach</p>
</details>


<details class="song" id="sebevrazi">
	<summary>Hodinoví sebevrazi</summary>
	<p>
		<em>1.</em> Dvě hodiny ráno, v restauraci rychlého občerstvení<br>
		všude kolem lidé aspoň o deset let mladší<br>
		jestli mi kdy bylo zhůry dáno, tak teď už prostě není<br>
		přemýšlím, zda sem vůbec ještě patřím.<br></p>
	
	<p>
		<em>2.</em> Dvě hodiny ráno, v restauraci rychlého občerstvení<br>
		rafije hodin se při zdi sotva plazí<br>
		na tom už těžko někdo něco změní<br>že jsme zabijáci času, hodinový sebevrazi.</p>
	
	<p>
		<em>3.</em> Dvě hodiny ráno, v restauraci rychlého občerstvení<br>
		kluk co hledá holku a holka co hledá spásu<br>
		docela obehraný film v původním znění<br>o tom, že všichni jsme hodinový sebevrazi, zabijáci času.</p>
	
	<p>
		<em>4.</em> Dvě hodiny ráno, v restauraci rychlého občerstvení<br>
		kde olej se pálí a vzduch se rychle kazí<br>
		těžko někdo změní, že ani čert nebere kde nic není<br>a tak čekáme až nám to uteče - my - hodinový sebevrazi.</p>
</details>
</section>
<section>
<h2>Starý dobrý časy</h2>
	

	<details class="song" id="radio-stary-dobry-casy">
		<summary>Rádio Starý dobrý časy</summary>
		<p> <i>1.</i> V rádiu zpívá umělkyně z Prahy o životě který nežije,<br>
			ležím tu sám, na gauči nahý, nikdo se neptá jak mi je.<br>
			V rádiu zpívá paní z bolševických dob,<br>
			nohu přes nohu, ruce za hlavou - pozoruju strop,<br>to vysílá asi Rádio Starý dobrý časy.</p>

		<p> <i>2.</i> Poslouchám píseň, co neslyšel jsem,<br>
			co nechtěl jsem slyšet nejmíň dvacet let,<br>
			počítám si na prstech, co nejde spočítat, bylo mi patnáct nebo pět?<br>
			V rádiu hrajou, co píseň to optimistická nálada,<br>
			ruce za hlavou, přemýšlím, jestli ta plíseň ze stropu sama opadá,<br>ta taky pamatuje asi ty Starý dobrý časy.</p>

		<p>
			Míchám si šumák, smažím si sýr,<br>
			na stole rozečtený ruský klasik,<br>
			venku na zdi ještě vidět heslo миру мир, světu mír<br>
			a když mi hrůzou vstávaj vlasy,<br>jsem rád, že jdou vypnout ty Starý dobrý časy.</p>

		<p>
			<i>3.</i> V rádiu to rozjel kluk, co zpívá nosem, co zpívá nosem,<br>
			ležím tu sám na gauči nahý, přemítám sakra kdo jsem a co jsem.<br>
			V rádiu hrajou na nostalgickou notu,<br>
			nenápadně k sobě přitahuju botu, protože ji po něm hodím asi,<br>protože ji hodím asi, jestli neskončej ty Starý dobrý časy.</p>
	</details>
	<details class="song" id="na-vlnach-mhd">
		<summary>Na vlnách MHD</summary>
		<p>
			<i>1.</i> Na břehu ulice, v zátoce kde kotví trolejbus,<br>
			se zmačkanou jízdenkou, postává námořník,<br>
			píská si písničku, trochu jazz a trochu blues,<br>rytmus si udává podpatkem o chodník.</p>
		<p>
			<i>2.</i> Na pláži z asfaltu, ve stínu zastávky,<br>
			s rukama v kapsách, postává námořník,<br>
			píská si popnou písničku z neznámé nahrávky,<br>rytmus si udává podpatkem o chodník.</p>
		<p>
			<i>Ref:</i>
			V příboji lidí stojí sám, sám<br>
			kdoví co vidí, sám, sám,<br>
			navzdory orkánům, navzdory větru,<br>
			sám, sám, sám tu stojí<br>ve vytahaným svetru.</p>
		<p>
			<i>3.</i> V přístavišti s vlnolamem z obrubníků,<br>
			kde kotvívá městská hromadná doprava,<br>
			valí se sem a tam vlny davů,<br>a jenom jeden námořník sám tu postává.</p>
	</details>

	<details class="song" id="hodne-hodna-pani">
		<summary>Hodně hodná paní</summary>
		<p>
			<i>1.</i> Jedna hodně hodná paní<br>
			poradila mi,<br>
			jak odečíst si z daní,<br>
			poradila mi,<br>
			jak odečíst si z daní<br>daň za nepravdu a za lhaní.</p>
		<p>
			<i>2.</i> Jedna hodně hodná paní<br>
			dlouhým pohledem,<br>
			přečetla mi z dlaní,<br>
			dlouhým pohledem,<br>
			přečetla mi z dlaní<br>jaká budoucnost mě čeká a co dám za ní.</p>
		<p>
			<i>3.</i> Jedna hodně hodná paní,<br>
			zaplať pámbu za ní,<br>
			z ničeho nic a bez ptaní,<br>
			zaplať čerte za ní,<br>
			z ničeho nic a bez ptaní<br>nabídla mi potykání.</p>
		<p>
			<i>4.</i> Jedna hodně hodná paní<br>
			rozpustila vlasy,<br>
			ulehla do peří beze stlaní,<br>
			rozpustila vlasy,<br>
			ulehla do peří beze stlaní<br>
			a já, já jsem uleh' na ní<br>
			a byla k neutahání<br>a pak přišlo spaní.</p>
	</details>

	<details class="song" id="opilec-bedrich">
		<summary>Opilec Bedřich</summary>
		<p>
			<i>1.</i> Městem kráčí prapopná nestvůra,<br>
			tahá lidi za rukáv, žadoní o bůra,<br>
			městem se plouží prapopný zjev,<br>nocí se rozlíhá jeho řev.</p>
		<p>
			Opilec Bedřich, lev salónů páté cenové skupiny,<br>
			opilec Bedřich, drobné z talířku posbírá,<br>
			opilec Bedřich, hladí něžně hliník výčepu,<br>opilec Bedřich, klikatou cestou se domů ubírá.</p>
		<p>
			<i>2.</i> Městem kráčí chlápek s dechem od rumu,<br>
			tahá lidi za rukáv, chce ňákou korunu,<br>
			městem kráčí prapopný zjev,<br>zpívá si na cestu, řve jako lev.</p>
		<p>
			Opilec Bedřich, postává v büfé u stolku,<br>
			opilec Bedřich, prokládá piva a rumy sekanou,<br>
			opilec Bedřich, neví co včera říkali ve zprávách,<br>opilec Bedřich, chodí pěšky a pro sebe si povídá.</p>
		<p>
			<i>3.</i> Až potkáte Bedřicha opilce,<br>
			nebude to Na Parkánu, nebude to Na Spilce,<br>
			až potkáte opilýho Bedřicha,<br>ne že mu dáte pěstí do břicha.</p>
		<p>
			Dejte mu bůra, stejně nevíte co s prachama,<br>
			vždyť je vás fůra, a tak korunku ke korunce a to máte fůru korunek,<br>
			dejte mu bůra, ať nemusí pít patoky a pomeje,<br>vždyť je vás fůra tak ať se Bedřich, ať se jednou poměje.</p>
		<p>
			Opilec Bedřich, odolává civilizačním nástrahám,<br>
			opilec Bedřich, tahá se za šňůrku od montérek,<br>
			opilec Bedřich, občas volá po starých dobrých časech,<br>opilec Bedřich, lupou na dně pivní láhve pozoruje svět.</p>
	</details>


	<details class="song" id="hvezdy">
		<summary>Hvězdy</summary>
		<p>
			<i>1.</i> V parku holky dělaj hvězdy,<br>
			a já zase ostudu,<br>
			a pomalu myslím, zato rychle jezdím,<br>já už tu dlouho nebudu.</p>
		<p>
			<i>2.</i> Ty ze sebe děláš hvězdu,<br>
			a já zase pobudu,<br>
			hnusně se chovám, zato moc pěkně piju,<br>já už tu dlouho nebudu.</p>
		<p>
			<i>3.</i> Já nám dělám pořád dluhy,<br>
			a ty navzdory osudu,<br>
			podvádíš mě a podvádíš i ty druhý,<br>já už tu dlouho nebudu.</p>
		<p>
			<i>4.</i> Kluci v parku kouří trávu,<br>
			hledají lék na nudu,<br>
			já s nima nekouřím, mám dost problémů s chlastem,<br>já už tu dlouho nebudu.</p>
		<p>
			<i>5.</i> Holky maj srandu z první pusy,<br>
			a já z prvního rozvodu,<br>
			blbě se mi dejchá, trochu se dusím,<br>já už tu dlouho nebudu.</p>
	</details>

	<details class="song" id="mrakodrap">
		<summary>Mrakodrap v dešti</summary>
		<p>
			<i>1.</i> Dámám před divadlem kloužou po dlažbě podpatky,<br>
			pánové ve smokingu nad nimi černý deštník drží,<br>
			špinavej somrák přebírá odpadky,<br>somrák z nádraží.</p>
		<p>
			<i>2.</i> Blonďatá kočka s kabelkou trolejbus dobíhá,<br>
			po dlažbě ji kloužou podpatky, nestíhá,<br>
			špinavej somrák kouká do koše,<br>přebírá (odpadky).</p>
		<p>
			<i>3.</i> Paní ve stánku přepaluje stokrát přepálený tuk,<br>
			v okénku drobnýma chrastí kérovaný hromotluk,<br>
			špinavej somrák sahá do koše,<br>nachází (odpadky).</p>
		<p>
			<i>4.</i> U stánku opilec Bedřich hladově okouní,<br>
			asi by si dal párek a zelený lahvový<br>
			špinavej somrák kouká do nebe,<br>na co myslí nepoví (odpadky).</p>
		<p>
			<i>5.</i> Chlapíkovi na zastávce zmokly noviny,<br>
			hledá v kapse bůra, jde si pro jiný,<br>
			špinavej somrák mluví si pro sebe,<br>povídá (odpadky).</p>
		<p>
			<i>6.</i> Mladí se houfně radují, už neprší,<br>
			prostě počasí je cool, jak říkají, není to nejhorší,<br>
			špinavej somrák do nich naráží,<br>somrák z nádraží.</p>
	</details>

	<details class="song" id="bufet-adrie">
		<summary>Bufet Adrie</summary>
		<p>
			<i>1.</i>  V bufetu Adrie píšou se příběhy života,<br>
			pivo jak pomyje, voda s jarem klokotá,<br>
			deset deka sekaný, co si dát? <br>
			Jedno vodou řezaný, dělá to <br>patnáct padesát, patnáct padesát.</p>
		<p>
			<i>2.</i> Jeden chlapík tu staví hubou proti velký vodě hráz,<br>
			a taky je tu smutnej študák, je jako by po něm přešel mráz,<br>
			asi u zkoušky zahodil všechny naděje, <br>
			a všechno co měl na tejden tady proleje,<br>a až půjde spát bude pořád slyšet, patnáct padesát.</p>
		<p>
			<i>3.</i> V bufetu Adrie stojí kluk s žiletkou na krku,<br>
			spláchne pivem rohlík a podrbe se v rozkroku,<br>
			a tlustá Máňa stěží potlačuje pláč,<br>
			a co ten její, co je ten parchant sakra zač,<br>a Máňa kapesník žmoulá - &quot;To bude dobrý Máňo&quot;</p>
		<p>
			<i>4.</i> V bufetu Adrie blíží se zavírací hodina,<br>
			jeden chlapík, ten co se moc nemyje, celej život proklíná,<br>
			vona byla kráva a von byl vůl,<br>
			neměla ho ráda tak vypadnul,<br>strašně praštil pěstí až se zatřás celej stůl.</p>
	</details>

	<details class="song" id="co-septa-vitr">
		<summary>Co šeptá vítr</summary>
		<p>
			<i>1.</i> Tak tady ta cesta končí<br>
			a nevede dál,<br>
			tady už mi nikdo nezastaví<br>i kdybych tu celou noc stál.</p>
		<p>
			<i>Ref:</i>A vítr šeptá dál
		</p>
		<p>
			<i>2.</i> Tady jsem poprvý zastavil,<br>
			když došel mi dech,<br>
			místo abych život oslavil,<br>skončil jsem s báglem na zádech.</p>
		<p>
			<i>3.</i> A vítr šeptá:<br>
			&quot;Kdo ty vlastně seš&quot;,<br>
			já nevím, ale slušný lidi<br>mě považujou za pakáž a za verbež.</p>
		<p>
			<i>4.</i> Tak mu povídám,<br>
			já na cestu se dal,<br>
			protože jsem tam nechtěl žít,<br>tam bych si asi život vzal.</p>
	</details>

	<details class="song" id="dvere-do-leta">
		<summary>Dveře do léta</summary>
		<p>
			<i>1.</i> Mám v domě dvanáct dveří<br>
			a kocoura co věří,<br>
			že aspoň jedny, když je otevřu,<br>tak to budou dveře do léta.</p>
		<p>
			<i>2.</i> Mám v domě dvanáct dveří,<br>
			a ten můj kocour u nich leží,<br>
			a čeká až mu jedny otevřu<br>a on vyrazí ven skrz dveře do léta.</p>
		<p>
			<i>3.</i> Mám v domě dvanáct dveří,<br>
			a jako ten můj kocour taky věřím,<br>
			že jednou jedny v zimě otevřu<br>a oni to budou dveře do léta.</p>
		<p>
			<i>4.</i> Mám v domě dvanáct dveří,<br>
			a jak se vám teď svěřím,<br>
			otevřel už jsem všechny,<br>ale ani jedny nejsou dveře do léta.</p>
	</details>


	<details class="song" id="lahev-rumu-od-jeziska">
		<summary>Láhev rumu od Ježíška</summary>
		<p>
			<i>1.</i> Na vánoce si otevřu láhev rumu<br>
			a budu se dívat, jak skořápka plave sama v lavoru.<br>
			Na vánoce si otevřu láhev rumu<br>
			a místo jabka rozkrojím bramboru.<br>
			Na vánoce si otevřu láhev rumu,<br>protože už nemůžu jít k tobě domů.</p>
		<p>
			<i>2.</i> Místo františka zapálím si startku,<br>
			na stromek jsem se vykašlal,<br>
			zapálil bych za sebe svíčku,<br>
			kdybych věděl kam jsem ji sakra dal.<br>
			Na vánoce si otevřu láhev rumu,<br>protože už nemůžu jít k tobě domů.</p>
		<p>
			<i>3.</i> Nemůžu se už na tvoji tvář dívat,<br>
			ten rámeček s fotkou už jsem položil,<br>
			je mi tak hrozně, smutno, smutno, smutno,<br>
			že bych se v tom chlastu nejradši utopil.<br>
			Na vánoce si otevřu láhev rumu,<br>protože už nemůžu jít k tobě domů.</p>
	</details>

	<details class="song" id="plakat">
		<summary>Plakát</summary>
		<p>
			<i>1.</i> Na zdi plakát Mišíka,<br>
			v knihovně Kerouaca vedle Kerouaca,<br>
			tobě to nic neříká,<br>že to hraje stará, elektrická kytara.</p>
		<p>
			<i>2.</i> Na zdi plakát Mišíka,<br>
			a v knihovně samej Ginsberg, Kesey, Ferlinghetti,<br>
			tobě to nic neříká,<br>ty jsi přišla na svět teprv před pár lety.</p>
		<p>
			<i>3.</i> Na zdi plakát od Prokopa,<br>
			a v knihovně samej Hrabal, Bondy a Gellner,<br>
			po nás ať přijde potopa,<br>ať můžem jít za tepla, zaslouženě do pekla.</p>
		<p>
			Co je, co je, to za hnusnou máničku,<br>To je, to je, Gagagarinův bratr.</p>
		<p>
			<i>4.</i> Na zdi plakát Mišíka,<br>
			ke kafi hraje Čajovna,<br>
			tobě to nic neříká,<br>tý se těžko něco, něco vyrovná.</p>
	</details>


	<details class="song" id="krise-stredniho-veku">
		<summary>Krise středního věku</summary>
		<p>
			<i>1.</i> V parku sedí mladí, dynamičtí lidé,<br>
			kouří cigarety a dělají rukama trhavé pohyby,<br>a já sedím naproti, držím se země a dělám, že je nevidím.</p>
		<p>Ref: Už se ani nestydím, že jim to mládí závidím.</p>
		<p>
			<i>2.</i> Ona povídá a on naslouchá,<br>
			ona se na něj směje, i on se na ní smál,<br>
			a já s koženou tváří lížu zmrzlinu, protože cigára jsem si zakázal.
		</p>
		<p>
			<i>3.</i> V parku sedí mladí, nezkažení lidé,<br>
			mají si co říct a chichotaj se pro sebe,<br>
			a já jdu naštvanej z práce, než tohle vidět, radši se koukám do nebe.
		</p>
		<p>
			Už nemůžu bezhlavě pít rum tuzemský,<br>
			už nemůžu si číst knížky pod lavicí,<br>
			už nemůžu drze koukat na ženský,<br>už nemůžu řítit se jak raketa s jadernou hlavicí.</p>
		<p>
			<i>4.</i> V parku sedí ona mladá a on taktéž mlád,<br>
			a kradmo se dotýkají svých těl,<br>
			a já koukám do nebe a snažím se nemyslet, že bych taky chtěl.
		</p>
	</details>

	<details class="song" id="jeraby-jeraby">
		<summary>Jeřáby, jeřáby</summary>
		<p>
			<i>1.</i> Jeřáby, jeřáby, mávají rameny,<br>
			jeřáby, jeřáby, zvedají panely.<br>
			Staví domy, vedle nich stromy,<br>
			před domy auta, do domů lidi,<br>
			do lidí řízky, za řízkem pivo,<br>přes den je tu prázdno, zato večer je tu živo.</p>
		<p>
			<i>2.</i> Jeřáby, jeřáby, mávají rameny,<br>
			jeřáby, jeřáby, zvedají panely.<br>
			Staví domy, obchody, hospody,<br>
			ve městě, za městem, u lesa, u vody,<br>
			do obchodu pro řízky a do hospody pro pivo,<br>přes den je tu prázdno, zato večer je tu živo.</p>
		<p>
			<i>3.</i> Jeřáby, jeřáby, mávají rameny,<br>
			jeřáby, jeřáby, zvedají panely.<br>
			V nich sedí lidi tahají za páky,<br>
			zvedají panely, věší je na háky,<br>
			po práci hospoda, v hospodě pivo,<br>přes den je tu prázdno, zato večer je tu živo.</p>
	</details>


	<details class="song" id="lez">
		<summary>Lež</summary>
		<p>
			<i>1.</i> Lež a neotvírej oči,<br>
			lež, vyprávěj jaký  to bylo,<br>
			bejt malá holka, co na patě se točí,<br>lež, a neotvírej oči.</p>
		<p>
			<i>2.</i> Lež a vyprávěj mi svůj sen,<br>
			lež a řekni mi jaký bude zítra den,<br>
			lež a já ti budu hladit vlasy,<br>lež, vyprávěj co přečetla jsi.</p>
		<p>
			<i>3.</i> Lež, poslouchej jak do střechy déšť bije,<br>
			lež a pak že za tebe okna nikdo neumyje,<br>
			lež, vždyť nemá smysl spěchat,<br>lež, vždyť můžeš všechno ležet nechat.</p>
		<p>
			<i>4.</i> Lež a neotvírej oči,<br>
			lež, ať hlava se ti nezatočí,<br>
			lež, vždyť ty už musíš vědět,<br>že dneska můžeš všechno nechat ležet.</p>
	</details>

	<details class="song" id="dokud">
		<summary>Dokud</summary>
		<p>
			<i>1.</i> Dokud mám na svý hlavě vlasy,<br>
			dokud nám neskončily starý dobrý časy,<br>dokud nám nezavřeli před nosem krám.</p>
		<p>
			<i>2.</i> Dokud nám zdraví ještě slouží,<br>
			dokud nám tělo i duše touží,<br>dokud nám Romeo nezůstal sám.</p>
		<p>
			<i>3.</i> Dokud nám ještě v práci dávaj prachy,<br>
			dokud nám ještě neztuhly šlachy,<br>dokud nám nezavřeli před nosem krám.</p>
		<p>
			Tak se spolu opijem a budeme tancovat celou noc,<br>
			a pojedem někam pryč a nevrátíme se ani do vánoc,<br>
			a já ti dám to, cos vždycky chtěla mít,<br>a budeme mít kupu dětí a přesto klid.</p>
		<p>
			<i>4.</i> Dokud nám se ještě hýbou ruce,<br>
			dokud nám ještě bijou srdce,<br>dokud nám nezavřeli před nosem krám.</p>
	</details>
</section>
<section>
<h2>Staré a polozapomenuté</h2>
	<details class="song" id="nema-to-cenu">
		<summary>Nemá to cenu</summary>
		<p>
			<i>1.</i>  Nemůžu ti dát, víc než jsem dal,<br/>
			nemůžu s tím kráválem přestat kdo by tu hrál,<br/>
			naše sny jsou zbořený, tak nechej dveře zavřený za sebou dál.
		</p>
		<p>
			<i>2. </i> Já vím neměl jsem to říkat, to jsem si dal,<br/>
			radši bych to zas zpátky vzal,<br/>
			venku už je tma, nenech mě tu stát pozvi mě dál.
		</p>
		<p>
			<i>3. </i> Abych se přiznal, pořád tě mám rád,<br/>
			a taky že neumím zpívat a zároveň hrát,<br/>
			tak zkusíme ještě znova, miláčku, už si nebudem lhát.
		</p>
		<p>
			<i>4. </i> Tohleto jsme zkoušeli snad stokrát,<br/>
			ty že budeš říkat pravdu, a já nebudu hrát,<br/>
			dopadlo to jak to dopadlo, drahá, nemá cenu se brát.
		</p>
	</details>
	<details class="song" id="panelak">
	  <summary>Panelák</summary>
	  <p>
		<i>1. </i>Už zase mě nemáš ráda <br/>
		někdo nám kope do dveří <br/>
		a v koupelně je slyšet sousedy jak se hádaj <br/>
		a za zdí, cinkaj příbory, někdo tam večeří. </p>
	  <p>
		<i>Ref: </i> Mezi čtyři zdi a mezi panely, <br/>
		nechápu, proč zrovna s tebou mě zavřeli. </p>
	  <p>
		<i>2. </i>Už mě zase nemáš ráda <br/>
		a nikdo ti tady nevěří <br/>
		netopěj a je tu hrozná kláda <br/>
		umyvadlo ucpal chuchvalec tvých kadeří </p>
	  <p>
		<i>3. </i> Už zase se chceš hádat <br/>
		a výtah vyjel o patro výš <br/>
		ty už mě nemáš ráda <br/>
		a bůhvíproč mi to nepovíš. </p>
	</details>

	<details class="song" id="kapesni-blues">
		<summary>Kapesní Blues</summary>
		<p>
			<i>1. </i> Mám v kapse špačka tužky,<br/>
			a cigára kus,<br/>
			harmoniku místo pušky,<br/>
			mý kapesní blues.<br/>
		</p>
		<p>
			<i>2. </i> Mám v kapse všechno co je třeba,<br/>
			a cigára kus,<br/>
			vodu sůl a chleba,<br/>
			mý kapesní blues.
		</p>
		<p>
			<i>Ref: </i> Mám v kapse rezavou raketu,<br/>
			kdyby to šlo,<br/>
			tak odletěl bych s ní na jinou planetu.
		</p>
		<p>
			<i>3. </i> Mám v kapse loňskej kalendář,<br/>
			a cigára kus,<br/>
			a na fotce tvoji tvář,<br/>
			mý kapesní blues.
		</p>
		<p>
			<i>4. </i> Mám v kapse krabičku poslední záchrany,<br/>
			a cigára kus,<br/>
			těžká je, táhne mě do strany,<br/>
			mý kapesní blues
		</p>
		<p>
			<i>5. </i>Mám v kapse hodinky dvoje,<br/>a cigára kus,<br/>pořád tikaj ty hodinový stroje,<br/>mý kapesní blues.
		</p>
		<p>
			<i>6. </i>Občas tam strkám obě dlaně,<br/>a cigára kus,<br/>a harmoniku místo zbraně,<br/>mý rezatý kapesní blues.
		</p>
	</details>
	</div>