<h1>Trojka</h1>
<ul>
	<li><b>Trojka</b> je setkání tří autorských kapel v mezích stylů jazz, blues a rocku. </li>
	<li>Pořádá se pravidelně každou <b>první středu v měsíci</b> (když houká siréna) v klubu <a href="http://www.buenavistaclub.cz">Buena Vista</a> v Plzni.</li>
	<li>Začátek ve <b>20,00</b>. </li>
	<li><b>Vstup volný</b>.</li>
</ul>

<h2>Pro kapely</h2>
<ul>
	<li><b>Ozvučení</b> je zajištěno klubem.</li>
	<li>Každá z kapel má dohromady na nazvučení a samotný koncert <b>hodinu</b>.</li>
	<li><b>Základ bicích</b> dodávají Rezatý Rakety 
	- (bubeníci, dovezte si <b>činely</b>, <b>šlapku</b>, <b>virbl</b>).</li>
	<li>Rezatý Rakety taktéž mohou zapůjčit kytarové kombo <b>Vox AC&nbsp;15</b>, popř. basový aparát</li>
	<li>Z koncertu obvykle pořizujeme jednostopý, zvukový záznam.</li>
	<li>Máme vlastního fotografa, takže svoje kapesní aparáty nechte doma.</li>
	<li>Autorská tvorba vítána.</li>
</ul>

<h3>Proč to děláme?</h3>
<ul>
	<li>Je to realizace naší představy o spolupráci mezi kapelami.</li>
	<li>Jsme rádi, že poznáváme muzikanty ze všech končin.</li>
	<li>Jsme rádi, že hrajeme pravidelně každý měsíc.</li>
	<li> Pokud <b>Rezatý Rakety</b> pozvete na koncert do své domoviny, nebudeme se zlobit.</li>
</ul>

<p><em>Trojku pořádají Rezatý Rakety za laskavé podpory klubu Buena Vista.</em></p>