<h1>Vo Raketách</h1>
<ul>
	<li>první koncert odehráli <b>29. srpna 2008</b></li>
	<li>23. listopadu 2009 vydali vlastníma silama záznam z&nbsp;koncertu</li>
	<li>zakládaj si na <b>vlastním</b>, českým repertoáru</li>
	<li>1. června 2011 vydali svoje <a href="#nahravky">první studiový album</a></li>
	<li>mají <a href="http://www.youtube.com/watch?v=oE7gZZuwVnw">videoklip</a></li>
	<li>hrajou možná bluesrock, možná hardrock, prostě <b>bigbít</b>, jenže bigbít v Plzni a okolí je výraz pro tancovačku, takže <b>alternativní bigbít</b></li>
	<li>pořádaj <a href="#trojka">Trojku</a></li>
</ul>			
<h2>Posádka</h2>
<ul>
	<li><b>Miroslav Juhy Juhos</b> kytara</li>
	<li><b>Jíra Svatoš</b> bicí</li>
	<li><b>Jan Hezcko</b> basová kytara</li>
</ul>
