name: Upload full site to FTP

on:
  push:
    branches:
      - master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install lftp
        run: sudo apt-get install -y lftp

      - name: Generate settings.php
        run: |
          cat <<EOF > settings.php
          <?php
          class Settings {

            const TITLE = 'Rezatý Rakety';
            const DESCRIPTION = 'Oficiální stránky kapely Rezatý Rakety.';
            const KEYWORDS = 'rusty rocket, rock, rock music, kapela, rezatý rakety, rezaty rakety, rezaty, rakety, rusty, rock band, rock band cz, rock band sk';

            const ADMIN_MAIL = 'juhy@rezatyrakety.cz';
            const ENABLE_STATS = false;

            const DOMAIN = '${{ secrets.DOMAIN }}';
            const MYSQL_HOST = '${{ secrets.MYSQL_HOST }}';
            const MYSQL_USER = '${{ secrets.MYSQL_USER }}';
            const MYSQL_PASSWORD = '${{ secrets.MYSQL_PASSWORD }}';
            const MY_DATABASE = '${{ secrets.MY_DATABASE }}';
            
            const DEBUG = false;
            const SHOWQUERY = false;
          }
          ?>
          EOF
      - name: Upload everything via FTP
        run: |
          lftp -c "
            set ssl:verify-certificate no;
            open -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_SERVER }};
            mirror --reverse --only-newer --use-all-mods --parallel=2 --delete --exclude-glob .git/ --exclude-glob --verbose ./ ./;
            bye;
          "
